[submodule "gitTut"]
	path = gitTut
	url = https://github.com/jaib1/gitTut
[submodule "gitInit"]
	path = gitInit
	url = C:/Users/Jai/testRepo/gitInit
[submodule "gitInit2"]
	path = gitInit2
	url = C:/Users/Jai/testRepo/gitInit2
